
<nav class= "navbar  navbar-expand-md  navbar-dark  pl-1 pr-3" id = "mynav" style = "    background-color: rgba(0, 0, 0, 0.56)  !important;color: white !important" >
	<div class= "container-fluid pt-0 m-0" style = "justify-content:flex-start !important">

		<a class= "navbar-brand" routerLink="home"><img src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659860059/nova-yachts/logo/nova-yachts_wrtrr2.png" alt  ="yachts for sale"  style = "height: 70px;position: absolute !important;top: 8px;left: 50px" id="Logo" ></a>
		<a class= "navbar-brand ml-0 pl-0 justify-content-left" routerLink="home"><img class = "ml-2 pl-0" src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659860059/nova-yachts/logo/nova-yachts_wrtrr2.png" alt  ="yachts for sale" style = "height: 0px;" id="LogoMobile"></a>
		<button class="navbar-toggler mr-3 mt-4"  type="button"  data-toggle="collapse" data-target="#navbarResponsive" #navbarToggler>
			<span class="navbar-toggler-icon " style = "color:rgba(66, 66, 66, 0.911) !important">   
 			</span>
		</button> 

		<div class= "collapse navbar-collapse text-center" id="navbarResponsive" #navbarCollapserDiv>
			<ul class="navbar-nav ml-4 ml-md-auto text-center mx-auto  pt-2 pb-2 p" style = "padding-left: 6%">
				
				<li class="nav-item home-link link-white-mobile active pt-1 ml-0 ml-md-2 pt-md-3" > 
					<a class="nav-link link-white-mobile shadow-lg active whie-nav-link " id="navbarItem" routerLink="/numarine" >NUMARINE</a>
				</li>

				<li class="nav-item home-link link-white-mobile active  pt-1 pt-md-3 "  >
					<a class="nav-link link-white-mobile shadow-lg "  id="navbarItem"  routerLink="/fairline" >FAIRLINE</a>
				</li>

				<li class="nav-item home-link link-white-mobile active pt-1 pt-md-3  " >
					<a class="nav-link link-white-mobile shadow-lg"  id="navbarItem"  routerLink="/pre-owned" >PREOWNED</a>
				</li>
				
				<li class="nav-item home-link link-white-mobile active pt-1 pt-md-3  pb-3 pb-md-0" >
					<a class="nav-link link-white-mobile shadow-lg" id="navbarItem"  href = "#contactForm" >CONTACT</a>	
				</li>


				

				<li class="nav-item home-link link-white-pc active pt-1 pt-md-3" > 
					<a class="nav-link link-white-pc shadow-lg active whie-nav-link " id="navbarItem" routerLink="/numarine">NUMARINE</a>
				</li>

				<li class="nav-item home-link link-white-pc active  pt-1 pt-md-3 " >
					<a class="nav-link link-white-pc shadow-lg"  id="navbarItem" id="navbarItem" routerLink="/fairline" >FAIRLINE</a>
				</li>

				<li class="nav-item home-link link-white-pc active pt-1 pt-md-3  " >
					<a class="nav-link link-white-pc shadow-lg"  id="navbarItem" id="navbarItem" routerLink="/pre-owned">PREOWNED</a>
				</li>
				
				<li class="nav-item home-link link-white-pc active pt-1 pt-md-3  pb-0 pb-md-0 " style="margin-right: 6vw !important">
					<a class="nav-link link-white-pc  shadow-lg" id="navbarItem" id="navbarItem" href = "#contactForm">CONTACT</a>	
				</li>

			</ul>


			
			<ul class="navbar-nav ml-3 ml-md-auto text-center social-icons-container" style = "position:absolute;right: 25px">
			<li class="nav-item active justify-content-left  pb-2 mobile-social-icons" style = "color:rgba(66, 66, 66, 0.911) !important;padding-left: auto !important;display:none; text-align: left !important;">
				<fa-icon [icon]="faFacebook" class="fab fa-facebook mr-4 ml-3 fa-lg" style = "font-size: 20px"></fa-icon>
				<fa-icon [icon]="faInstagram" class="fab fa-instagram mr-4 ml-3 fa-lg" style = "font-size: 20px"></fa-icon>
			</li>
		
			<li class="nav-item active pt-4 socialPC "  style = "color: whitesmoke !important;padding-top: 3.5% !important; " >
				<fa-icon [icon]="faInstagram" class = " mt-2" style = "color: whitesmoke !important;font-size:30px !important"></fa-icon>		
			</li>

			<li class="nav-item active pt-4 socialPC" style = "color: whitesmoke !important;padding-top: 3.5% !important; margin-left: 0px !important">
				<fa-icon [icon]="faFacebook" class = "mr-1 mt-2 " style = "color: whitesmoke !important;font-size:30px !important; margin-left: 0px !important"></fa-icon>		
			</li>

			<li class="nav-item active pt-4 mr-3 socialPC" style = "color: whitesmoke !important;padding-top: 3.5% !important">
				<fa-icon [icon]="faEnvelope" class = "mr-1 mt-2" style = "color: whitesmoke !important;font-size:30px !important"></fa-icon>		
			</li>

		</ul>

				



		</div>


		
	</div>
</nav>