<footer>
    <div class="container-fluid padding" id="footer" >
    
    <div class= "row justify-content-center text-center">
      
      <div class= "col-md-4 my-auto">
          <img  src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659860059/nova-yachts/logo/nova-yachts_wrtrr2.png" style = "height: 10vh">
      </div>
    
      <div class="col-md-4">
          
          
          <hr class="light">
          <p>Nova Yachts d.o.o.</p>
          <p>Hribarov Prilaz 10, Zagreb, Croatia</p>
          <p>00 385 1 4877 400</p>
          <p>00 385 98-301-987</p>
          
          <p>office@novayachts.eu</p>
          
          
          <hr class="light">
      </div>
    
      
    
    </div>
    </div>
    </footer>
