<hr class = "p-0 m-0">

<img class = "col-12 p-0" id = "img26" src = "https://res.cloudinary.com/dsgx9xiva/image/upload/v1660037956/nova-yachts/fairline/t50/Targa_50_GT_Exterior_100_top_eur8ns.jpg" style = "filter: brightness(70%);">
<img class = "col-12 p-0" id = "img26-mobile" src = "https://res.cloudinary.com/dsgx9xiva/image/upload/v1659965127/nova-yachts/fairline/t50/Targa_50_GT_Exterior_100_2_zngo1a.jpg" style = "filter: brightness(70%);display:none">


<div class= "container-fluid padding bg-light pb-1"  >




	<div class= "row justify-content-center" style = "padding-bottom: 7vh; padding-top: 7vh">


		<img src = "https://res.cloudinary.com/dsgx9xiva/image/upload/v1659964710/nova-yachts/fairline/Fairline_Croatia_uprske.png" class = "col-7 col-md-3 pb-5 mb-3 pb-lg-3" alt = "numarine 32 xp">

		
			
			<div class="col-12 ml-0 ml-lg-5 mt-0 col-lg-5  px-4 pt-0 pt-lg-2 display-inline firstText  my-lg-5">
				<p class = "px-3 mb-0" align = "justify" style= "color:rgba(66, 66, 66, 0.911);">
					

					Fairline is one of the most respected English yacht manufacturers, with a history dating back to 1963.
					<br>
					<br>
				With various models ranging from 33 - 68 feet, Fairline yachts are offering the perfect fit for your nautical preferences.
					
				
					<br>
					<br>
				
					
			</div>
			
	

		<br>

	</div>
</div>
	
<!--
<div class = "p-3 col-12 popupDiv2" id = "popupDiv" style = "position:fixed !important;min-height: 600px !important;background-color: white !important;z-index:3 !important;top:0" >
	<div class = "row justify-content-center pt-5" >
		<button onclick="myFunction()" class= "btn btn-outline-primary closePopupDiv">Later</button>
	</div>
	<div class = "row justify-content-center " stlye = "min-height: 850px !important" data-aos="fade-up" data-aos-delay="5000" data-aos-duration = "1300">
		<iframe allowTransparency="true" style="min-height:300px; height:inherit; overflow:auto;" width="100%" id="contactform123" name="contactform123" marginwidth="0" marginheight="0" frameborder="0" src="//www.123formbuilder.com/my-contact-form-5519432.html"><p>Your browser does not support iframes. The contact form cannot be displayed. Please use another contact method (phone, fax etc)</p></iframe>
	</div>
</div>
-->

 <!-- Jumbotron 0.1-->
 

<!--
<div class = "container-fluid p-0">
	<div class = "row justify-content-center pt-4 pb-0"> 
		<h2 class = "text-center col-12 " style = "color:rgba(14, 14, 14, 0.911)">Explorer yachts</h2>
		<hr class ="col-10 p-0 m-0">
	</div>
</div>
-->

<div class="container-fluid pb-3 " id= "SaleAndCharter" style = "background-color: #f3f3f3 !important;">
	<div class="row justify-content-center pt-1">


	

		<div class="col-md-3 pb-1">
			<div class="card shadow offerCard shadow-lg">
				<a href = "https://fairline.com/en/yachts/f-line/33/"  id = "cardLink"> </a>
				<img class= "card-img-top cardImage" src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659965166/nova-yachts/fairline/f33/F33_Exterior_6786_zgwh0b.jpg"  loading="lazy" alt = "numarine 32 xp">
				<div class= "card-body">
					<h4 class="card-title text-center choice-headline">F-Line 33</h4>
					<hr>

					<p class= "card-text text-center choice-text" style = "color: rgba(66, 66, 66, 0.911)"> 
						Embrace your adventurous side.
						<br>
						
					</p>
					<div class = "row justify-content-center">
						<a href = "https://fairline.com/en/yachts/f-line/33/" class= "btn   mt-0  btn-outline-primary">View model</a>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="col-md-3 pb-1">
			<div class="card shadow offerCard shadow-lg">
				<a href = "https://fairline.com/en/yachts/targa/45-open/"  id = "cardLink"> </a>
				<img class= "card-img-top cardImage" src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659965201/nova-yachts/fairline/t45/Targa_45_Open_Exterior_4345_re-touch_nbnmpx.jpg" loading="lazy" alt = "numarine 32 xp">
				<div class= "card-body">
					<h4 class="card-title text-center choice-headline">Targa 45 Open</h4>
					<hr>

					<p class= "card-text text-center choice-text" style = "color: rgba(66, 66, 66, 0.911)"> 
						An icon reborn.
						<br>
						
					</p>
					<div class = "row justify-content-center">
					<a href = "https://fairline.com/en/yachts/targa/45-open/"  class= "btn   mt-0  btn-outline-primary">View model</a>
				</div>
					
				</div>
			</div>
		</div>

		<div class="col-md-3 pb-1">
			<div class="card shadow offerCard shadow-lg">
				<a href = "https://fairline.com/en/yachts/targa/45-gt/"  id = "cardLink"> </a>
				<img class= "card-img-top cardImage" src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659965237/nova-yachts/fairline/t45/Targa_45_GT_Exterior_04_olsvap.jpg"  loading="lazy" alt = "numarine 32 xp">
				<div class= "card-body">
					<h4 class="card-title text-center choice-headline">Targa 45 GT</h4>
					<hr>

					<p class= "card-text text-center choice-text" style = "color: rgba(66, 66, 66, 0.911)"> 
						A winning formula.
						<br>
						
					</p>
					<div class = "row justify-content-center">
					<a href = "https://fairline.com/en/yachts/targa/45-gt/"  class= "btn   mt-0  btn-outline-primary">View model</a>
				</div>
					
				</div>
			</div>
		</div>
	
	
			
		

		




	</div>
	
</div> 


<div class="container-fluid pb-3 " id= "SaleAndCharter" style = "background-color: #f3f3f3 !important;">
	<div class="row justify-content-center pt-1">


	

		<div class="col-md-3 pb-1 pt-0 pt-md-3">
			<div class="card shadow offerCard shadow-lg">
				<a href = "https://fairline.com/en/yachts/targa/50-open/"  id = "cardLink"> </a>
				<img class= "card-img-top cardImage" src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659965273/nova-yachts/fairline/t50/Targa_50_OPEN_Exterior_15_nn3f4o.jpg" loading="lazy" alt = "numarine 32 xp">
				<div class= "card-body">
					<h4 class="card-title text-center choice-headline">Targa 50 Open</h4>
					<hr>

					<p class= "card-text text-center choice-text" style = "color: rgba(66, 66, 66, 0.911)"> 
						Everything you expect. And more. 
						<br>
						
					</p>
					<div class = "row justify-content-center">
						<a href = "https://fairline.com/en/yachts/targa/50-open/" class= "btn   mt-0  btn-outline-primary">View model</a>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="col-md-3 pb-1">
			<div class="card shadow offerCard shadow-lg">
				<a href = "https://fairline.com/en/yachts/targa/50-gt/"  id = "cardLink"> </a>
				<img class= "card-img-top cardImage" src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659965291/nova-yachts/fairline/t50/Targa_50_GT_Exterior_112_1_odoqi2.jpg" loading="lazy" alt = "numarine 32 xp">
				<div class= "card-body">
					<h4 class="card-title text-center choice-headline">Targa 50 GT</h4>
					<hr>

					<p class= "card-text text-center choice-text" style = "color: rgba(66, 66, 66, 0.911)"> 
						Luxury never looked, or felt so good.
						<br>
						
					</p>
					<div class = "row justify-content-center">
					<a href = "https://fairline.com/en/yachts/targa/50-gt/"  class= "btn   mt-0  btn-outline-primary">View model</a>
				</div>
					
				</div>
			</div>
		</div>

	
	
			
		<div class="col-md-3 pb-1 pt-0 pt-md-3">
			<div class="card shadow offerCard shadow-lg">
				<a href = "https://fairline.com/en/yachts/targa/65-gt/"  id = "cardLink"> </a>
				<img class= "card-img-top cardImage" src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659965316/nova-yachts/fairline/t65/Targa_65_GT_Exterior_017_1_rdkrfd.jpg" loading="lazy" alt = "numarine 32 xp">
				<div class= "card-body">
					<h4 class="card-title text-center choice-headline">Targa 65 </h4>
					<hr>

					<p class= "card-text text-center choice-text" style = "color: rgba(66, 66, 66, 0.911)"> 
						Feel the past. Feel the future. 
						<br>
						
					</p>
					<div class = "row justify-content-center">
						<a href = "https://fairline.com/en/yachts/targa/65-gt/" class= "btn   mt-0  btn-outline-primary">View model</a>
					</div>
					
				</div>
			</div>
		</div>
		
		

		




	</div>
	
</div> 









	

	
<!--- Jumbotron -->








<!-- www.123formbuilder.com script begins here --><!-- www.123formbuilder.com script ends here -->


<!--- Fixed background -->



<!--- Emoji Section -->


<!--- Welcome Section -->







	
	


<!--- Two Column Section -->

<!--- Connect -->




<div class="container-fluid pt-3  bg-light" id = "contactForm">
	<div style="text-align:center">
	  <h2>Contact us</h2>
	  <p class = "mt-1 mb-1" style ="color:rgba(66, 66, 66, 0.911)">Leave us a message and we will get <br> back to you as soon as possible.</p>
	</div>
	<div class="row justify-content-center">
	  
	  <div class="column">
		<form action="mail_handler.php" method = "post" name = "form">
		  <input type="text" id="fname" name="name" placeholder="Your name..">
		  
		  <input type="text" id="e-mail" name="e-mail" placeholder="Your e-mail address..">

		  <textarea id="subject" name="msg" placeholder="Write something.." style="height:170px"></textarea>
		  <div class = "row justify-content-center">
		  <input type="submit" name = "submit" value="Submit">
		</div>
		</form>
	  </div>
	</div>
  </div>

