
<img class = "col-12 p-0" id = "img26" src = "https://res.cloudinary.com/dsgx9xiva/image/upload/v1659966521/nova-yachts/numarine/78ht/78ht-pc_vjmlru.jpg" style = "filter: brightness(70%);">
<img class = "col-12 p-0" id = "img26-mobile" src = "https://res.cloudinary.com/dsgx9xiva/image/upload/v1659966536/nova-yachts/numarine/78ht/78ht-mobile_fusxfc.jpg" style = "filter: brightness(70%);display:none"> 

<hr class = "col-12 bg-light m-0 p-0">


<div class = "container-fluid" style = "background-color: #f3f3f3;">
	<div class = "row col-12 pt-4 pb-0 pt-md-4 pb-2 justify-content-center px-0 mx-0">
		<h2 class = "col-12 text-center pb-0" id = "explorers-headline" style = "color:#263042; font-weight: bold;">Sport yachts</h2>
		<h5 class = "col-12 text-center pt-1" id = "explorers-text" style = "color:#263042"> Elegant yachts engineered for cruising at higher speeds. <br class = "explorers-break">  </h5>
		<hr  class = "col-9 col-md-5 pb-0 pt-0 mt-0"  style =  "border-color: #263042 !important">
	</div>
</div>
	
<!--
<div class = "p-3 col-12 popupDiv2" id = "popupDiv" style = "position:fixed !important;min-height: 600px !important;background-color: white !important;z-index:3 !important;top:0" >
	<div class = "row justify-content-center pt-5" >
		<button onclick="myFunction()" class= "btn btn-outline-primary closePopupDiv">Later</button>
	</div>
	<div class = "row justify-content-center " stlye = "min-height: 850px !important" data-aos="fade-up" data-aos-delay="5000" data-aos-duration = "1300">
		<iframe allowTransparency="true" style="min-height:300px; height:inherit; overflow:auto;" width="100%" id="contactform123" name="contactform123" marginwidth="0" marginheight="0" frameborder="0" src="//www.123formbuilder.com/my-contact-form-5519432.html"><p>Your browser does not support iframes. The contact form cannot be displayed. Please use another contact method (phone, fax etc)</p></iframe>
	</div>
</div>
-->

 <!-- Jumbotron 0.1-->
 

<!--
<div class = "container-fluid p-0">
	<div class = "row justify-content-center pt-4 pb-0"> 
		<h2 class = "text-center col-12 " style = "color:rgba(14, 14, 14, 0.911)">Explorer yachts</h2>
		<hr class ="col-10 p-0 m-0">
	</div>
</div>
-->

<div class="container-fluid pb-3 " style = "background-color: #f3f3f3;" id= "SaleAndCharter">
	<div class="row justify-content-center pt-1">


		
		<div class="col-md-4 col-lg-3">
			<div class="card shadow offerCard shadow-lg">
				<img class= "card-img-top cardImage"  src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659966657/nova-yachts/numarine/105ht/105ht_y5opp2.jpg" alt = "numarine 32 xp">
				<div class= "card-body">
					<h4 class="card-title  ml-1 mt-1 mb-3 text-center">105 Hardtop  </h4>
					<hr>
					<p class= "card-text ml-2" style = "color: rgba(66, 66, 66, 0.911)"> 
						<fa-icon [icon]="faRuler" class = "mr-2"></fa-icon> 25,89 m
						<br>

						 <fa-icon [icon]="faGasPump" style = "margin-right: 6px;"></fa-icon>  12.600 lt
					   <br>
					   <fa-icon [icon]="faTachometerAlt" style = "margin-right: 7px;"></fa-icon> Twin CAT C32 1925 HP 2300 rpm
					   <br>
					   <a href="#connect" class= "btn mt-3  btn-outline-primary">Contact us</a>

						
					</p>
					
				</div>
			</div>
		</div>


			
		<div class="col-md-4 col-lg-3">
			<div class="card shadow offerCard shadow-lg">
				<img class= "card-img-top  cardImage" src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659966704/nova-yachts/numarine/78hts/78hts_ck6haa.jpg" alt = "numarine 32 xp">
				<div class= "card-body">
					<h4 class="card-title ml-1 text-center">78 HTS </h4>
					<hr>
					<p class= "card-text ml-1" style = "color: rgba(66, 66, 66, 0.911)"> 
					
						<fa-icon [icon]="faRuler" class = "mr-2"></fa-icon> 23,98 m
						<br>

						<fa-icon [icon]="faGasPump" style = "margin-right: 6px;"></fa-icon>  5.000 lt
					   <br>
					   <fa-icon [icon]="faTachometerAlt" style = "margin-right: 7px;"></fa-icon> Twin MAN V8-1200 hp @ 2300 rpm
					 
	
					 <br>
						<a href="#connect" class= "btn mt-3  btn-outline-primary">Contact us</a>
						
					</p>
					
				</div>
			</div>
		</div>

		
		<div class="col-md-4 col-lg-3">
			<div class="card shadow offerCard shadow-lg">
				<img class= "card-img-top  cardImage" src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659866123/nova-yachts/numarine/78ht/78ht_etrefx.jpg" alt = "numarine 32 xp">
				<div class= "card-body">
					<h4 class="card-title text-center">78 Hardtop </h4>
					<hr>
					<p class= "card-text " style = "color: rgba(66, 66, 66, 0.911)"> 
						<fa-icon [icon]="faRuler" class = "mr-2"></fa-icon> 23,98 m

						<br>

						<fa-icon [icon]="faGasPump" style = "margin-right: 6px;"></fa-icon>  5.000 lt
					   <br>
					   <fa-icon [icon]="faTachometerAlt" style = "margin-right: 7px;"></fa-icon> Twin MAN V8-1200 hp @ 2300 rpm

	
					   <br>  
					   <a href="#connect" class= "btn mt-3  btn-outline-primary">Contact us</a>

						
					</p>
					
				</div>
			</div>
		</div>





	</div>
	
</div> 



<div class="container-fluid pb-3 bg-light" id= "SaleAndCharter" style = "background-color: #f3f3f3 !important">
	<div class="row justify-content-center pt-3">
	
		<div class="col-md-4 col-lg-3">
			<div class="card shadow offerCard shadow-lg" id = "Charter" >
				<img class= "card-img-top  cardImage" src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659966771/nova-yachts/numarine/70ht/70ht_hyx0so.jpg" alt = "fairline phantom 50">
				<div class= "card-body shadow-lg" style = "color: rgba(56, 56, 56, 0.911)">
					<h4 class="card-title text-center" >  70 Hardtop </h4>
					<hr>
					<fa-icon [icon]="faRuler" class = "mr-2"></fa-icon> 21,69 m
						<br>

						<fa-icon [icon]="faGasPump" style = "margin-right: 6px;"></fa-icon>  4.500 lt
					   <br>
					   <fa-icon [icon]="faTachometerAlt" style = "margin-right: 7px;"></fa-icon> Twin CAT C32 1925 HP 2300 rpm
	
					   <br>
					   <a href="#connect" class= "btn mt-3  btn-outline-primary">Contact us</a>

				
				</div>	
			</div>
		</div>

		<div class="col-md-4 col-lg-3">
			<div class="card shadow offerCard shadow-lg" id = "Charter" >
				<img class= "card-img-top  cardImage" src="https://res.cloudinary.com/dsgx9xiva/image/upload/v1659966793/nova-yachts/numarine/62ht/62ht_rvvwl7.jpg" alt = "fairline phantom 50">
				<div class= "card-body" style = "color: rgba(56, 56, 56, 0.911)">
					<h4 class="card-title text-center "> 62 Hardtop</h4>
					<hr>
					<fa-icon [icon]="faRuler" class = "mr-2"></fa-icon> 19,16 m
						<br>

						<fa-icon [icon]="faGasPump" style = "margin-right: 6px;"></fa-icon>  4.000 lt
					   <br>
					   <fa-icon [icon]="faTachometerAlt" style = "margin-right: 7px;"></fa-icon> Twin Volvo IPS 950

	  <br>
					   <a href="#connect" class= "btn mt-3  btn-outline-primary">Contact us</a>
					   
						
					
				
				</div>	
			</div>
		</div>


	</div>
	
	</div> 